<div>
    <ul>
        <li><button class="btn btn-default" onclick ="GoToUrlBlank('AddSale')">Select</button></li>
<li>@Html.ActionLink("Add manager","AddManager")</li>
<li>@Html.ActionLink("Remove manager","RemoveManager")</li>
<li>@Html.ActionLink("Add product","AddProduct")</li>
<li>@Html.ActionLink("Remove product","RemoveProduct")</li>
<li>@Html.ActionLink("Add sale","AddSale")</li>        
<li>@Html.ActionLink("Remove sale","RemoveSale")</li>
   </ul>
</div>

