<div>

    <table class="table table-striped">
        <tr style="font:bold;font-size:large;">
            <td>Sale Id</td>
            <td>Manager </td>
            <td>Product</td>
            <td>Cost per unit</td>
            <td>Sale date</td>
        </tr>
        @foreach (var product in ViewBag.ProductCollection)
        {
            <tr class="paginate">
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.TotalNumber</td>
                <td>@product.CostPerUnit</td>
                <td>@product.Description</td>
            </tr>
        }
    </table>
    <br>
    <div id="page-nav"></div>


</div>
