@model FifthTask.Models.SelectedFilterModel
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
         {
             Text = "Manager",
             Value = "Manager",
             Selected = true
         });
    listItems.Add(new SelectListItem
         {
             Text = "Date",
             Value = "Date"
         });
    listItems.Add(new SelectListItem
         {
             Text = "Product",
             Value = "Product"
         });
}
<div>
    @using (@Html.BeginForm())
    {
        <fieldset class ="list-group-item-text">
            Select filter
            @Html.DropDownListFor(fitler=>fitler.SelectedFilter,listItems)   
            <p>
                <input type="submit" value="Sort" class="btn btn-default" style="font-size:medium;" />
            </p>

        </fieldset>

    }
</div>

@ViewBag.result

<div id="SaleTable">
    <table class="table table-striped" style="border:medium">
        <tr style="font:bold;font-size:large;">
            <td>Sale Id</td>
            <td>Manager Id</td>
            <td>Name</td>
            <td>Sername</td>
            <td>Product Id</td>
            <td>Product name</td>
            <td>Amount for sale</td>
            <td>Cost per unit</td>
            <td>Date of sale</td>
        </tr>
        @foreach (var sale in ViewBag.SaleCollection)
        {
            <tr class="paginate">
                <td>@sale.SaleId</td>
                <td>@sale.ManagerId</td>
                <td>@sale.ManagerName</td>
                <td>@sale.ManagerSername</td>
                <td>@sale.ProductId</td>
                <td>@sale.ProductName</td>
                <td>@sale.AmountForSale</td>
                <td>@sale.CostPerUnit</td>
                <td>@sale.DateOfSale</td>
            </tr>
        }
    </table>
    <br>
    <div id="page-nav"></div>
</div>

