@using System.Web.Mvc.Html



<div>
    @Html.ActionLink("Edit records", "../EditByAdmin/EditRecords")
    @Html.ActionLink("Edit roles", "../EditByAdmin/EditRoles")
    @Html.ActionLink("Show managers","ShowManagers")
    @Html.ActionLink("Show products", "ShowProducts")
    @Html.ActionLink("Show sales","ShowSales")
</div>
